.home_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_container h1 h2{
    font-size: 2.5em;
    margin-bottom: .5em;
}

.home_container h1 span{
    color: #023535;
    padding: 0 0 0.2em;
}

.home_container img{
    width: 350px;
    margin: 2em;
}

.btns{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em;
}